@import 'tailwindcss';

@theme {
  /* Primary Colors */

  --color-primary-25: #f0f2ef;
  --color-primary-50: #d1d9cf;
  --color-primary-100: #b2bfaf;
  --color-primary-200: #a2b39f;
  --color-primary-300: #93a690;
  --color-primary-400: #839930;
  --color-primary-500: #748c70;
  --color-primary-600: #5a6d57;
  --color-primary-700: #404e3e;
  --color-primary-750: #343e32;
  --color-primary-800: #272f25;
  --color-primary-900: #0d100c;

  /* Neutral Colors */

  --color-white: #ffffff;
  --color-black: #0c0c0c;
  --color-gray-202020: #202020;
  --color-gray-404040: #404040;
  --color-gray-606060: #606060;
  --color-gray-868686: #868686;
  --color-gray-adadad: #adadad;
  --color-gray-cbcbcb: #cbcbcb;
  --color-gray-dfdfdf: #dfdfdf;
  --color-gray-ededed: #ededed;
  --color-gray-f9f9f9: #f9f9f9;

  /* State Colors */

  --color-success: #00966d;
  --color-success-bg: #f3fdfa;
  --color-success-light: #00ba88;

  --color-warning: #e09126;
  --color-warning-bg: #f7e4c9;
  --color-warning-light: #e09126;

  --color-error: #c30000;
  --color-error-bg: #fff2f2;
  --color-error-light: #ed2e2e;

  /* Font Typography */

  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-montserrat);
}
